<?xml version="1.0"?>
<config>
    <modules>
        <LivePerson_LiveEngage>
            <version>0.1.0</version>
        </LivePerson_LiveEngage>
    </modules>
    <frontend>
        <routers>
            <liveengage>
                <use>standard</use>
                <args>
                    <module>LivePerson_LiveEngage</module>
                    <frontName>liveengage</frontName>
                </args>
            </liveengage>
        </routers>
        <layout>
            <updates>
                <liveengage>
                    <file>liveengage.xml</file>
                </liveengage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <liveengage>
                <use>admin</use>
                <args>
                    <module>LivePerson_LiveEngage</module>
                    <frontName>liveengage</frontName>
                </args>
            </liveengage>
        </routers>
    </admin>

    <global>
        <blocks>
            <liveengage>
                <class>LivePerson_LiveEngage_Block</class>
            </liveengage>
        </blocks>
        <helpers>
            <liveengage>
                <class>LivePerson_LiveEngage_Helper</class>
            </liveengage>
        </helpers>
        <models>
            <liveengage>
                <class>LivePerson_LiveEngage_Model</class>
            </liveengage>
        </models>
    </global>

    <default>
        <liveengage>
            <general>
                <account>0</account>
            </general>
        </liveengage>
    </default>
</config>