.idea
*.zip
*.tar.gz
magento/*
!*magento/app/code/community/LivePerson/
!*magento/app/design/adminhtml/default/default/layout/liveengage.xml
!*magento/app/design/adminhtml/default/default/template/liveengage/
!*magento/app/etc/modules/LivePerson_LiveEngage.xml
